<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="reponsive.css"> -->
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
</head>

<body>

    <section class="main-banner-section now-in-view">
        <span class="left-curve"></span>
        <!-- <span class="top-icon"></span>
        <span class="icon-four now-in-view" style=""></span> -->
        <span class="icon-five now-in-view"></span>
        <div class="auto-container">
            <div class="inner-container" style="background-image:url(images/background/2.jpg)">
                <div class="circle-one now-in-view" style=""></div>
                <div class="icon-one now-in-view"></div>
                <div class="icon-two now-in-view" style=""></div>
                <div class="icon-three now-in-view"></div>
                <div class="icon-six now-in-view"></div>
                <div class="icon-seven now-in-view"></div>
                <div class="icon-nine now-in-view"></div>
                <div class="icon-ten now-in-view"></div>
                <div class="icon-eleven now-in-view" style=""></div>
                <i class="fas fa-video icon"></i>
                <h2>Fake Zoom</h2>
                <div class="side-image"><img src="images/resource/banner-image.png" alt=""></div>

                <div class="button">
                    <form action="/create-room">
                        <button id="create-room" class="btn">Create Room</button>
                    </form>

                    <form action="/join-room1" method="POST">
                        <button id="join-room" class="btn">Joint Room</button>
                        <input type="text" name="id" id="join-room-id" placeholder="Room ID">
                    </form>
                </div>

            </div>
        </div>
    </section>


</body>

</html>